@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-bg: #063970;
  --brand-accent: #E58F65;
  --brand-text: #F1F1E7;
}

html, body {
  height: 100%;
  background: var(--brand-bg);
  color: var(--brand-text);
}

* {
  box-sizing: border-box;
}

